<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Webapp that is design to predict the 2018 NBA Championship, and more!">
    <meta name="author" content="">

    <title>NBA 2018 Champion Forecaster</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Font-Awesome CSS -->
    <link href="{{ url_for('static', filename='vendor/fontawesome/css/fontawesome-all.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">NBA Forecaster</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Results</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Team Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#live">Live Scores!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-secondary text-white">
      <div class="container-fluid text-center">
        <h1>NBA 2018 Champion Forecaster</h1>
        <h2>Who do you think will win?</h2>
        <p class="lead">Please make a selection:</p>

        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn" value="BOS"><img src="../static/images/team_logos/boston-celtics-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="CLE"><img src="../static/images/team_logos/cleveland-cavaliers-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="GSW"><img src="../static/images/team_logos/golden-state-warriors-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="HOU"><img src="../static/images/team_logos/houston-rockets-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="IND"><img src="../static/images/team_logos/indiana-pacers-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="MIA"><img src="../static/images/team_logos/miami-heat-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="MIL"><img src="../static/images/team_logos/milwaukee-bucks-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="MIN"><img src="../static/images/team_logos/minnesota-timberwolves-logo-vector.png" class="img-fluid img-thumbnail">
        </div>
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn" value="NOP"><img src="../static/images/team_logos/new-orleans-pelicans-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="OKC"><img src="../static/images/team_logos/oklahoma-city-thunder-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="PHI"><img src="../static/images/team_logos/philadelphia-76ers-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="POR"><img src="../static/images/team_logos/portland-trail-blazers-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="SAS"><img src="../static/images/team_logos/san-antonio-spurs-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="TOR"><img src="../static/images/team_logos/toronto-raptors-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="UTA"><img src="../static/images/team_logos/utah-jazz-logo-vector.png" class="img-fluid img-thumbnail">
            <button type="button" class="btn" value="WAS"><img src="../static/images/team_logos/washington-wizards-logo-vector.png" class="img-fluid img-thumbnail">
        </div>

      </div>
    </header>

    <div id="bodydiv" class="container-fluid">
      <div class="row">

        <div id="team" class="col-sm-8">
          <section id="about">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2 id="team_name">Forecast Results</h2>
                  <div id="team_predict" class="table-responive-md" hidden>
                    <table class="table table-sm table-bordered">
                      <thead class="thead-light">
                        <th scope="col">Champion</th>
                        <th scope="col">Champion Percentage</th>
                        <th scope="col">Model Team Rank</th>
                      </thead>
                      <tbody>
                        <td id="champion"></td>
                        <td id="predict_perc"></td>
                        <td id="ranked"></td>
                      </tbody>
                    </table>
                  </div>

                  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </div>
          </section>

          <section id="services">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2>Team Information</h2>
                  <div id="team_table" class="table-responive-md" hidden>
                    <table class="table table-sm table-bordered">
                      <thead class="thead-light">
                        <th scope="col">Playoff Seed</th>
                        <th scope="col">Conference</th>
                        <th scope="col">Division</th>
                        <th scope="col">Head Coach</th>
                        <th scope="col">Star Player</th>
                      </thead>
                      <tbody>
                        <td id="playoff_seed"></td>
                        <td id="conference"></td>
                        <td id="division"></td>
                        <td id="head_coach"></td>
                        <td id="star_player"></td>
                      </tbody>
                    </table>

                    <table class="table table-sm table-bordered">
                      <thead class="thead-light">
                        <th scope="col">Regular Season Wins</th>
                        <th scope="col">Regular Season Losses</th>
                        <th scope="col">Win Percentage</th>
                      </thead>
                      <tbody>
                        <td id="rs_season_wins"></td>
                        <td id="rs_season_losses"></td>
                        <td id="win_percentage"></td>
                      </tbody>
                    </table>

                    <table class="table table-sm table-bordered">
                      <thead class="thead-light">
                        <th scope="col">Points Per Game</th>
                        <th scope="col">Field Goal Percentage</th>
                        <th scope="col">Free Throw Percentage</th>
                        <th scope="col">Three Point Percentage</th>
                      </thead>
                      <tbody>
                        <td id="points_per_game"></td>
                        <td id="field_goal_percentage"></td>
                        <td id="free_throw_percentage"></td>
                        <td id="three_point_percentage"></td>
                      </tbody>
                    </table>

                    <table class="table table-sm table-bordered">
                      <thead class="thead-light">
                        <th scope="col">Assists Per Game</th>
                        <th scope="col">Blocks Per Game</th>
                        <th scope="col">Rebounds Per Game</th>
                        <th scope="col">Steals Per Game</th>
                      </thead>
                      <tbody>
                        <td id="assists_per_game"></td>
                        <td id="blocks_per_game"></td>
                        <td id="rebounds_per_game"></td>
                        <td id="steals_per_game"></td>
                      </tbody>
                    </table>
                  </div>

                  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                </div>
              </div>
            </div>
          </section>


        </div>

        <div class="col-sm-4" style="border-style: solid; border-color: black black black grey">
          <section id="live">
            <div class="container-fluid">
              <h2>Live Playoff Scoreboard</h2>
              <iframe class="col-lg-12 mr-auto" src="/live" height="900" width="400" frameborder="0" scrolling="yes"></iframe>
            </div>
          </section>

        </div>
        <div class="col-sm-12">
          <hr class="mt-0">
          <section id="contact" class="">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2>Contact us</h2>

                  <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="../static/images/creator_profiles/alex.jpeg" alt="Card image cap">
                      <div class="card-body text-dark">
                        <h5 class="card-title">@lex</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                        <p class="card-text"><span class="text-muted"><a href="https://github.com/buitron"><i class="fab fa-github fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/buitron/"><i class="fab fa-linkedin-in fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fas fa-home fa-3x"></i></a></span></p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="../static/images/creator_profiles/victor.jpg" alt="Card image cap">
                      <div class="card-body text-dark">
                        <h5 class="card-title">V1ctor</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                        <p class="card-text"><span class="text-muted"><a href="https://github.com/victoryk13"><i class="fab fa-github fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/victor-kuo/"><i class="fab fa-linkedin-in fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fas fa-home fa-3x"></i></a></span></p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="../static/images/creator_profiles/sungwon.jpg" alt="Card image cap">
                      <div class="card-body text-dark">
                        <h5 class="card-title">Sungw0n</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                        <p class="card-text"><span class="text-muted"><a href="https://github.com/sungwonb"><i class="fab fa-github fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/sungwonbyun/"><i class="fab fa-linkedin-in fa-3x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fas fa-home fa-3x"></i></a></span></p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </section>
        </div>


      </div>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; The Three Datateers 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>

    <!-- Personal Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
    </script>

  </body>

</html>
