<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Live Score Tables for the 2018 NBA Playoffs">
    <meta name="author" content="">

    <title>NBA 2018 Playoffs Live Feed</title>
    <meta http-equiv="refresh" content="120" >

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Font-Awesome CSS -->
    <link href="{{ url_for('static', filename='vendor/fontawesome/css/fontawesome-all.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/live_style.css') }}" rel="stylesheet">
</head>
<body>
    <div id="live_table" class="table-responive-md m-2">
        
        {% for l in lf %}
            <table class="table table-sm table-bordered">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th scope="col" colspan="2">
                            {{ l.hometeam_abbrev }} vs. {{ l.awayteam_abbrev }}
                        </th>
                    <tr>
                    <tr class="text-center">
                        <th scope="col" colspan="2">
                            Game {{ l.game_number }} ({{ l.series_leader }})
                        </th>
                    <tr>
                    {% if l.game_clock %}
                    <tr class="text-center">
                        <th scope="col" colspan="2">Game Clock: {{ l.game_clock }} Game Duration: {{ l.game_duration }}</th>
                    </tr>

                    {% endif %}
                    {% if l.game_date %}
                    <tr class="text-center">
                        <th scope="col" colspan="2">Game Date: {{ l.game_date }} | Game Time: {{ l.game_time }}</th>
                    </tr>
                    {% endif %}
                        <th scope="col">Home Team</th>
                        <th scope="col">Away Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light">
                        <td id="home"><img src="../static/images/team_logos_small/{{ l.hometeam_abbrev }}.png"> {{ l.hometeam_abbrev }}</td>
                        <td id="away"><img src="../static/images/team_logos_small/{{ l.awayteam_abbrev }}.png"> {{ l.awayteam_abbrev }}</td>
                    </tr>
                    <tr class="table-light">
                        <td>{{ l.hometeam_score }}</td>
                        <td>{{ l.awayteam_score }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>

    <!-- Personal Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/live_script.js') }}"></script>

    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
    </script>
</body>
</html>