/*ranking table*/
#ranking_table {
	border-radius: 2;
}

.hover-tool {
	color: inherit;
}

/*padding adjustments*/

#about, #live {
	padding-top: 150px;
	padding-bottom: 50px;
}

#services {
	padding-top: 75px;
}

#contact {
	padding-top: 25px;
}

#twitterfeed {
	padding-bottom: 150px;
}


/*team configurations*/

#team.BOS {
	background-color: #007A33;
	color: white;

}

#team.CLE {
	background-color: #6F263D;
	color: white;

}

#team.GSW {
	background-color: #006BB6;
	color: white;

}

#team.HOU {
	background-color: #CE1141;
	color: white;

}

#team.IND {
	background-color: #002D62;
	color: white;

}

#team.MIA {
	background-color: #98002E;
	color: white;

}

#team.MIL {
	background-color: #00471B;
	color: white;

}

#team.MIN {
	background-color: #0C2340;
	color: white;

}

#team.NOP {
	background-color: #0C2340;
	color: white;

}

#team.OKC {
	background-color: #007AC1;
	color: white;

}

#team.PHI {
	background-color: #006BB6;
	color: white;

}

#team.POR {
	background-color: #E03A3E;
	color: white;

}

#team.SAS {
	background-color: #C4CED4;
	color: black;

}

#team.TOR {
	background-color: #CE1141;
	color: white;

}

#team.UTA {
	background-color: #002B5C;
	color: white;

}

#team.WAS {
	background-color: #002B5C;
	color: white;

}


/*button functions*/

.btn img {
	background-color: #333333;
	opacity: 0.25;
}

.btn img:hover {
	opacity: 1;
}

.btn img:active {
	opacity: 0.5;
}

.btn {
	background-color: #1a1a1a;
}

.btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none;
}


/*global styles*/

body {
	font-family: 'Advent Pro';
	/*font-size: 22px;*/
}

#bodydiv {
	background-color: #000000;
	color: #FFFFFF;
}

hr {
	background-color: grey;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

#selection {
	height: 100vh;
}

#team_buttons {
	position: absolute;
	bottom: 10%;
	width: 80%;
	left: 10%;
}

.card_links {
	position: absolute;
	bottom: 2%;
}

text {
	font-size: 60pt;
	fill: #FFFFFF;
}

path.color0 {
    fill: #fff;
}
path.color1 {
    fill: rgba(255,255,255,.3);
}

